<div class="container py-4">

  <div class="row">

    <div class="col-12 col-lg-7">

      <div class="ratio ratio-5x4">
        <iframe src="https://www.youtube.com/embed/GEA_hN0HGUs?controls=0&modestbranding=1&rel=0" title="YouTube video"
          allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>

    </div>

    <div class="col-12 col-lg-5 d-flex align-items-center p-5">

      <div>
        <h3 class="dillan project-title ">Vild Expeditions - Lapland Promo Film</h3>
        <br />
        <p>
          Gravel Birds Ultracycling is an unsupported bikepacking challenge in the land without shadows - Alentejo,
          Portugal. A journey across one of the most remote and striking territories of Southern Europe. Basecamp in
          Castro Verde. Three distance and routes available: L’Abetarda [350], Gravel Birds Classic [750] or Gravel
          Birds XL [1000].
        </p>
      </div>

    </div>

    <div class="col-12 col-lg-7">

    </div>

  </div>

  <div class="row align-items-center g-5 bts-container">
    <!-- Texto à esquerda -->
    <div class="col-lg-4">
      <p class="mb-0">
        Filming the last three editions of Gravel Birds has been an incredible experience. Capturing riders as they push
        through the open plains and dusty gravel roads of the Alentejo showed me the true spirit of bikepacking. Between
        the long days under the Portuguese sun and the strong sense of community among the cyclists, documenting this
        raw and beautiful event was something truly special.
      </p>
    </div>

    <!-- 3 Imagens à direita -->
    <div class="col-lg-8 mt-5">
      <div class="row g-5">
        <div class="col-md-4 p-0 m-0">
          <img src="/assets/img/projects/lapland/bts1.jpg" alt="Equipa Helly Hansen" class="w-100 bts">
        </div>
        <div class="col-md-4 p-0 m-0">
          <img src="/assets/img/projects/lapland/bts2.jpg" alt="Equipa Helly Hansen" class="w-100 bts">

        </div>
        <div class="col-md-4 p-0 m-0">
          <img src="/assets/img/projects/lapland/bts3.jpg" alt="Equipa Helly Hansen" class="w-100 bts">

        </div>
      </div>
    </div>
  </div>

</div>
