<div class="container py-4">

  <div class="row mb-200">

    <div class="col-12 col-lg-6">

      <div class="ratio ratio-4x3">
        <iframe src="https://www.youtube.com/embed/RUMr0rEpU84?controls=0&modestbranding=1&rel=0" title="YouTube video"
          allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>

    </div>

    <div class="col-12 col-lg-6 d-flex align-items-center p-5">

      <div>
        <h1 class="dillan project-title ">Celine & Lucas</h1>
        <br />
        <p>

          Celine e Lucas celebraram o encontro de duas culturas e de duas histórias de amor. Ela, francesa; ele,
          espanhol. Juntos, escolheram as montanhas de Madrid como cenário para um casamento moderno, sofisticado e
          cheio de classe.
          <br />
          <br />

          Entre a beleza natural da serra, uma estética contemporânea e uma atmosfera cuidadosamente pensada, viveram um
          dia que refletiu aquilo que os une: elegância, autenticidade e muito amor.
        </p>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-12 col-lg-5 d-flex align-items-center p-5">

      <div>
        <h1 class="dillan project-title ">Mónica e Francisco</h1>
        <br />
        <p>

          Mónica e Francisco escolheram celebrar o seu amor no conforto do seu lar, em Carregal do Sal, rodeados pelas
          pessoas que lhes são mais queridas.
          <br />
          <br />
          Uma celebração íntima, simples e genuína, sem grandes luxos, onde o mais importante esteve sempre presente: a
          cumplicidade, a família e a felicidade de partilharem juntos um dia tão especial.

        </p>
      </div>

    </div>

    <div class="col-12 col-lg-7">

      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/oFoH7RW349w?controls=0&modestbranding=1&rel=0" title="YouTube video"
          allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>

    </div>

  </div>


</div>
