<div class="container py-4">

  <div class="row">

    <div class="col-12 col-lg-7">

      <div class="ratio ratio-4x3">


        <iframe src="https://player.vimeo.com/video/1220639641?title=0&byline=0&portrait=0&badge=0" width="640"
          height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
        </iframe>
        <script src="https://player.vimeo.com/api/player.js"></script>

      </div>

    </div>

    <div class="col-12 col-lg-5 d-flex align-items-center p-5">

      <div>
        <h3 class="dillan project-title ">Soajo Outdoor Fest 2026 - Aftermovie</h3>
        <br />
        <p>
          Outdoor Fest is a festival that connects outdoor activities, music, and gastronomy. It originated in the
          village of Soajo, in the heart of the Peneda-Gerês National Park, where it is based.

          <br />
          <br />
          A mountain village marked by its rural character. Since its foundation, our main objective has been the fusion
          between ancestral rural cultures and the future.
        </p>
      </div>

    </div>

    <div class="col-12 col-lg-7">

    </div>

  </div>

  <div class="row align-items-center g-5 bts-container">
    <!-- Texto à esquerda -->
    <div class="col-lg-4">
      <p class="mb-0">
       For more than a week, I had the chance to document Outdoor Fest in Soajo, capturing adventure, outdoor activities, music, gastronomy, and the unique spirit of the village.

<br/>
<br/>
       It was an intense week of early mornings, long days, trails, unpredictable moments, and endless stories to capture. More than filming a festival, it was about experiencing the connection between nature, people, culture, and adventure.
      </p>
    </div>

    <!-- 3 Imagens à direita -->
    <div class="col-lg-8 mt-5">
      <div class="row g-5">
        <div class="col-md-4 p-0 m-0">
          <img src="/assets/img/projects/soajo-outdoor-fest/bts1.jpg" alt="Equipa Helly Hansen" class="w-100 bts">
        </div>
        <div class="col-md-3 p-0 m-0">
          <img src="/assets/img/projects/soajo-outdoor-fest/bts2.jpg" alt="Equipa Helly Hansen" class="w-100 bts">

        </div>

         <div class="col-md-2 p-0 m-0">
          <img src="/assets/img/projects/soajo-outdoor-fest/bts5.jpg" alt="Equipa Helly Hansen" class="w-100 bts">

        </div>

        <div class="col-md-3 p-0 m-0">
          <img src="/assets/img/projects/soajo-outdoor-fest/bts3.jpg" alt="Equipa Helly Hansen" class="w-100 bts">
        </div>

      </div>
    </div>
  </div>

</div>
