<div class="container py-4">

  <div class="row justify-content-center">

    <div class="col-12 col-lg-4">
      <img class="img-fluid" src="assets/img/me.jpg" />
    </div>

    <div class="col-12 col-lg-4 d-flex align-items-center p-5">

      <div>
        <h3 class="dillan project-title ">Olá! Sou o Nelson.</h3>
        <br />
        <p>
          Trabalho como freelancer em projetos ligados ao outdoor, festivais, eventos e viagens, sempre à procura de
          novas histórias para contar. Entre estradas, montanhas, festivais e lugares desconhecidos, gosto de conhecer
          pessoas, viver experiências e transformá-las em conteúdos com uma abordagem genuína e descontraída.
          <br />
        <h5 class="dillan">Se envolve aventura, natureza e boas histórias, provavelmente quero fazer parte.</h5>

      </div>

    </div>

  </div>

</div>
