<div class="container">

  <div class="row">
    <div class="col-lg-5 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-6.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-7 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-3.jpg" alt="" class="img-fluid" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-18.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-6 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-12.jpg" alt="" class="img-fluid" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-11.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-4 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-5.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-4 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-19.jpg" alt="" class="img-fluid" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-8.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-6 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-17.jpg" alt="" class="img-fluid" />
    </div>
  </div>


  <div class="row">
    <div class="col-lg-5 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-16.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-7 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-4.jpg" alt="" class="img-fluid" />
    </div>
  </div>


  <div class="row">
    <div class="col-lg-7 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-2.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-5 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-13.jpg" alt="" class="img-fluid" />
    </div>

  </div>

   <div class="row vertical-photos">
    <div class="col-lg-12 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-14.jpg" alt="" class="img-fluid" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-7.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-6 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-11.jpg" alt="" class="img-fluid" />
    </div>

  </div>

  <div class="row">
    <div class="col-lg-7 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-9.jpg" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-5 p-0 m-0">
      <img src="assets/img/projects/hsw/hsw-10.jpg" alt="" class="img-fluid" />
    </div>

  </div>






</div>
