<div class="container py-4">

  <div class="row">

    <div class="col-12 col-lg-7">

      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/SXSTcN3E3Ys" title="YouTube video" allowfullscreen>
        </iframe>
      </div>

    </div>

    <div class="col-12 col-lg-5 d-flex align-items-center p-5">

      <div>
        <h3 class="dillan project-title ">Autalantis - Promo Video</h3>
        <br />
        <p>
          Autatlantis is a Portuguese car-rental company based in the Azores. It was established in 1988 and has grown to operate across the Azores islands. The company says it has around 1,200 vehicles and locations from São Miguel to Corvo.
        </p>
      </div>

    </div>

    <div class="col-12 col-lg-7">

    </div>

  </div>

  <!--

    <div class="col-lg-4">
      <p class="mb-0">
        Filming the last three editions of Gravel Birds has been an incredible experience. Capturing riders as they push
        through the open plains and dusty gravel roads of the Alentejo showed me the true spirit of bikepacking. Between
        the long days under the Portuguese sun and the strong sense of community among the cyclists, documenting this
        raw and beautiful event was something truly special.
      </p>
    </div>


    <div class="col-lg-8 mt-5">
      <div class="row g-5">
        <div class="col-md-4 p-0 m-0">
          <img src="/assets/img/projects/gravel-birds/bts5.jpg" alt="Equipa Helly Hansen" class="w-100 bts">
        </div>
        <div class="col-md-4 p-0 m-0">
          <img src="/assets/img/projects/gravel-birds/bts4.jpg" alt="Equipa Helly Hansen" class="w-100 bts">

        </div>
        <div class="col-md-4 p-0 m-0">
          <img src="/assets/img/projects/gravel-birds/bts2.jpg" alt="Equipa Helly Hansen" class="w-100 bts">

        </div>
      </div>
    </div>
  </div>
  -->

</div>
