.nav-item {
  font-size: 14px;
}

.logo {
  font-family: 'Dillan';
  font-size: 40px;
  text-transform: lowercase;
  letter-spacing: -2px;
}

.social-icon {
  padding-left: 30px;
}

.bi {
   font-size: 17px;
}
