<!-- Fundo branco com 50% de transparência -->
<nav class="navbar navbar-expand-lg bg-white bg-opacity-50 text-dark m-5">
  <div class="container">

    <!-- Lado Esquerdo: Ícone + Texto -->
    <a class="navbar-brand text-dark d-flex align-items-center gap-2 logo" href="#">
      <span>NelsonrSousa</span>
    </a>

    <!-- Menu Lado Direito -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link text-dark active" href="#">projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="/about">about</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="#">blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="#">contact</a>
        </li>

        <li class="nav-item social-icon">
          <a class="nav-link text-dark" target="_blank" href="https://www.instagram.com/nelsonrsousa/">
            <i class="bi bi-instagram"></i>
          </a>
        </li>

         <li class="nav-item">
          <a class="nav-link text-dark" target="_blank" href="https://www.youtube.com/@nelsonrsousa">
            <i class="bi bi-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
